div.releases {
  display: inline-block;
  height: 9em;
  overflow-y: scroll;
}
div.releases.indent {
  margin-left: 2em;
}
.releases table {
  border: 0;
}
.releases tr {
  height: 3em;
}
.releases tr.odd {
  background-color: #d8f8d8;
}
.releases th {
  text-align: right;
}
.releases th, .releases td {
  padding: 0 1em;
  border: 0;
}
