div.searchbox {
  position: absolute;
  top: 0;
  right: 10px;
  height: 110px;
  width: 300px;
}
.forkme div.searchbox {
  right: 85px;
}
.forkme-ribbon {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  width: 135px;
  height: 135px;
}
div.searchbox .inner {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.forkme div.searchbox .inner {
  z-index: 1000;
}
div.searchbox table {
  border: 0;
}
div.searchbox table td {
  border: 0;
}
div.searchbox .gsc-input-box {
  height: 28px;
  box-shadow: none;
}
div.searchbox .gsc-input-box a {
  margin-top: 4px;
}
div.searchbox .gsc-search-button {
  display: none;
}

/* Scrollable releases table, fixed-height rows */
div.releases {
  display: inline-block;
  height: 9em;
  overflow-y: scroll;
}
div.releases.indent {
  margin-left: 2em;
}
.releases table {
  border: 0;
}
.releases tr {
  height: 3em;
}
.releases tr.odd {
  background-color: #d8f8d8;
}
.releases th {
  text-align: right;
}
.releases th, .releases td {
  padding: 0 1em;
  border: 0;
}

/* Package info table, vertical padding around cells, looks like
   releases table */
.pinfo {
  border: 0;
  line-height: 1.4;
}
.pinfo th, .pinfo td {
  border: 0;
}
.pinfo thead tr {
  background-color: #c8e8c8;
}
.pinfo thead th {
  padding: 0.3em 1em;
}
.pinfo tbody tr:nth-child(2n + 1) {
  background-color: #d8f8d8;
}
.pinfo tbody th, .pinfo tbody td {
  padding: 0.85em 1em;
}
.pinfo tbody th {
  text-align: left;
}
