div.newsflash {
    border: solid 2px #8f8;
    width: 400px;
    float: right;
    background: #dfd;
    font-size: 0.8em;
    margin: 0em;
    padding: 0.5em 1em 0.5em 1em;
}

div.newsflash h1 {
    font-size: 1.2em;
    padding: 0em;
    margin: 0em;
}

div.newsflash .post hr {
    display: none;
}
