[tool.black]
line-length = 79
skip-string-normalization = true
target-version = ["py312"]

# https://black.readthedocs.io/en/stable/guides/using_black_with_other_tools.html#flake8
# requires Flake8-pyproject
[tool.flake8]
extend-ignore = ["E203"]

[tool.isort]
profile = "black"
force_sort_within_sections = true
