body {
    margin: 10px;
    padding: 0;
    overflow: hidden;
}
h1 {
    font-size: 1.2em;
}
a img {
    border: 0;
}
.clear {
    clear: both;
}
.no-top {
    margin-top: 0;
}
.no-bottom {
    margin-bottom: 0;
}
.loading {
    background-image: url('images/loading.gif');
    background-repeat: no-repeat;
    background-position: 50% 30px;
}
.scroll-parent {
    overflow: auto;
    height: 100%;
}
.scroll {
    display: inline-block;
    width: 100%;
}
div#header img {
    float: left;
}
div#help-text {
    margin-left: 330px;
}
div#content {
    position: relative;
    height: 4000px;
}
div#images {
    position: absolute;
    width: 20%;
}
div#images h2 {
    font-size: 1em;
    margin: 0;
}
div#images ul {
    margin-left: 1.5em;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
div#images li {
    list-style-type: none;
}
#versions {
    font-size: small;
}
.current-slide {
    background-color: #ccf;
}
div#view {
    position: absolute;
    left: 21%;
    width: 53%;
    height: 100%;
    background-color: black;
    border: 1px solid #000;
    color: white;
}
div#properties {
    position: absolute;
    right: 0;
    width: 25%;
}
div#properties dl {
    font-size: small;
    margin: 0;
}
div#properties dt {
    font-weight: bold;
    border-top: 1px solid #000;
    background-color: #eee;
}
div#properties dd {
    margin-left: 0;
}
