<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>{{ page.title }}</title>
<link rel="stylesheet" href="/css/trac.css" type="text/css"/>
<link rel="stylesheet" href="/css/newsflash.css" type="text/css"/>
<link rel="stylesheet" href="/css/custom.css" type="text/css"/>
</head>

<body>

<div id="header">
<a href="/"><img src="/images/openslide_logo.png" alt="OpenSlide"/ width="306" height="102"></a>
<hr/>
</div>

<div class="wikipage">
<h1>{{ page.title }}</h1>
{{ content }}
</div>

<div id="footer">
<p class="right">Because 2<sup>126</sup> pixels should be enough for anybody.</p>
</div>

</body>

</html>
