<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="google-site-verification" content="yvwMK1VpVw3S23cQzeGtY6P89umLCY5RD04QI4gAUj0"/>
<title>{{ page.title }}</title>
<link rel="stylesheet" href="/css/trac.css" type="text/css"/>
<link rel="stylesheet" href="/css/newsflash.css" type="text/css"/>
<link rel="stylesheet" href="/css/custom.css" type="text/css"/>
</head>

<body class="{{ page.classes }}">

<div id="header">
<a href="/"><img src="/images/openslide_logo.png" alt="OpenSlide" width="306" height="102"></a>
<div class="searchbox">
<div class="inner">
<gcse:searchbox-only></gcse:searchbox-only>
</div>
</div>
<hr/>
</div>

<div class="wikipage">
<h1>{{ page.title }}</h1>
{{ content }}
</div>

<div id="footer">
<p>
  This page is published under the
  <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">
    Creative Commons Attribution-ShareAlike 4.0 International</a>
  license.
  {{ page.extra_credits }}
</p>
</div>

<script>
  (function() {
    var cx = '009841487268299278507:fmtn444ko_o';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>

</body>

</html>
